!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body

    %h4
      New Drugs

    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Drug Name/Appl No
          %th Generic Name
          %th Company
          %th Approval date

      %tbody
        - @new_apps.each do |app|
          - drug = app.drug

          %tr
            %td #{drug.brand_name} / #{app.application_number}
            %td #{drug.generic_name}
            %td #{app.company}
            %td #{app.approval_date.strftime('%B %d, %Y')}

    %br
    %p
      Thanks for joining and have a great day!