!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h4
      Delisted patents

    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Appl No
          %th Prod No
          %th Brand Name
          %th Delisted Patent
      %tbody
        - @deleted_patents.each do |patent|
          - product = patent.app_product
          - application = product.drug_application
          - drug = application.drug

          %tr
            %td #{application.application_number}
            %td #{product.product_number}
            %td #{drug.brand_name}
            %td #{drug.generic_name}
            %td #{patent.number}

    %br
    %p
      Thanks for joining and have a great day!